@charset "utf-8";

/*Default set*/
html,body,form,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,fieldset,table,th,td,figure,hr{margin:0;padding:0;font-weight:normal;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
body{font-size:13px;line-height:1.5;color:#333;word-break:keep-all}

/*input*/
input, textarea, select{padding:0;color:#3c3c3c;vertical-align:middle}
input[type=text],input[type=file],input[type=password]{border:1px solid #d4d4d4;outline:none;}
input[type=text],input[type=password]{padding:0 12px;height:37px;line-height:37px;border:1px solid #e0e0e0;box-sizing:border-box;font-size:12px;line-height:14px;color:#262626;}
input[type=text]::-ms-clear{display:none}
input[type=password]::-ms-clear{display:none}

input[type=text]:focus,input[type=password]:focus{}/*border:1px solid #002a7b;*/
input[type=button]{border:0;background:none;}
textarea{border:1px solid #d4d4d4}
input.radio, input.check,fieldset{border:0;background:none}
input, button, select, a+button,.selectBox,.calendar{*margin-right:4px}
input,textarea{-webkit-appearance:none;-webkit-border-radius:0;}
input,textarea::-webkit-scrollbar{width:0;height:0;}
input,textarea::-webkit-scrollbar-thumb{background:none;}
input+.hyphen{*margin-left:-4px}
input[type=text]+.btnS, input[type=password]+.btnS,input[type=text]+input[type=text], input[type=password]+input[type=text], input[type=text]+input[type=password]{margin-left:10px}
input[type=text][disabled]{background-color:#f7f7f7}
label+.typeRadio{margin-left:30px}
input[type=text]+.checkbox{margin-left:16px}
input[type=file]{width:200px;height:20px;height:30px\9;*height:30px;}
input[type=file]::-ms-value{border:0 none}
input[type=file]::-ms-browse{border:0 none;border-left:1px solid #ccc}
select{height:38px;padding:2px 4px 3px 7px;border:1px solid #ccc;font-size:13px;color:#3c3c3c}

/*textarea*/
textarea{overflow-y:scroll;width:100%;padding:14px 14px 0 14px;border:1px solid #ccc;box-sizing:border-box;-webkit-box-sizing:border-box;color:#666;resize:none;font-size:13px}
textarea:focus{border:1px solid #002a7b;}
.byte{padding:6px 0 0;font-size:13px;text-align:right;color:#666}
.byte em{color:#333}

/*link*/
button{overflow:visible}
a{display:inline-block;}
a+button{*margin-left:4px}
a, input, label, button{-webkit-tap-highlight-color:transparent;}
a, a:link, a:visited, a:active,a:hover{text-decoration:none !important;color:#3c3c3c;}
button{margin:0;padding:0;border:0;background:none;width:auto;outline:0;cursor:pointer}
button:focus{outline:1px dotted #3c3c3c;}
button span, button:active span, button:focus span{position:relative}

/*etc*/
img{border:none;margin:0;padding:0;line-height:0;font-size:0;}
table{width:100%;table-layout:fixed;border-collapse:collapse;border:0;border-spacing:0}
th{border:0;text-align:center}
td{border:0}
table caption,legend,figcaption{overflow:hidden;width:100%;height:1px;*height:0px;margin-top:-1px;font-size:0;line-height:0;text-indent:-9999px}
ol,ul{list-style:none}
em, var, address{font-style:normal}
acronym{border:0 none;text-decoration: none}
a, span{vertical-align:middle;}
iframe, hr{border:none;}

/* common */
.blind{position:absolute !important;visibility:hidden !important;top:0 !important;left:0 !important;height:0 !important;width:0 !important;font-size:0 !important;line-height:0 !important;overflow:hidden !important;}

/*common*/
.clearfix:after{content:"";display:block;clear:both;zoom:1}
* html .clearfix{zoom:1}
*:first-child+html .clearfix{zoom:1}

/* skip navi */
.skip_navi,.skip-navi{width:100%;position:absolute;top:0;z-index:100000;}
.skip_navi a,.skip-navi a{width:100%;font-size:14px;line-height:36px;text-align:center;font-weight:bold;position:absolute;top:-100px;left:0;color:#fff;background:#004880;}
.skip_navi a:hover,.skip_navi a:active,.skip_navi a:focus,
.skip-navi a:hover,.skip-navi a:active,.skip-navi a:focus{top:0;z-index:100000;}

/*top버튼*/
.btn-top{display:none;position:fixed;right:5px;bottom:5px;width:32px;height:32px;}
.btn-top a{display:block;width:100%;height:100%;background:url(../images/btn/btn-top.png) no-repeat 0 0;background-size:32px;}

/*title*/
.tit-h{font-size:35px;line-height:39px;font-family:"Noto Sans Bold";letter-spacing:-1px;}
.tit-s{font-size:24px;line-height:30px;font-family:"Noto Sans Bold";letter-spacing:-1px;}
.tit-a{font-size:20px;line-height:26px;font-family:"Noto Sans Bold";letter-spacing:-1px;}
.tit-b{font-size:17px;line-height:20px;font-family:"Noto Sans Bold";}
.tit-c{font-size:16px;line-height:20px;}
.tit-note{display:inline-block;margin:8px 0 0 15px;font-size:18px;line-height:22px;letter-spacing:-1px;color:#000;vertical-align:top;}
.main-caption .tit-a{font-size:20px;}

/*font정책*/
.h1{font-size:48px;letter-spacing:-.06em;line-height:56px;}
.t1{font-size:32px;letter-spacing:-.07em;line-height:40px;}
.t2{font-size:30px;letter-spacing:-.07em;line-height:44px;}
.t3{font-size:22px;letter-spacing:-.04em;line-height:26px;}
.t4{font-size:20px;letter-spacing:-.04em;line-height:24px;}
.t5{font-size:18px;letter-spacing:-.04em;line-height:22px;}
.t6{font-size:16px;letter-spacing:-.04em;line-height:20px;}
.b1{font-size:18px;letter-spacing:-.04em;line-height:30px;}
.b2{font-size:16px;letter-spacing:-.04em;line-height:26px;}
.b3{font-size:14px;letter-spacing:-.025em;line-height:20px;}
.c1{font-size:14px;letter-spacing:-.04em;line-height:20px;}
.c21{font-size:12px;letter-spacing:-.025em;line-height:16px;}
.c22{font-size:12px;letter-spacing:-.04em;line-height:16px;}
.c3{font-size:11px;letter-spacing:-.025em;line-height:16px;}

.fwT{font-weight:200;}
.fwL{font-weight:300;}
.fwR{font-weight:400;}
.fwB{font-weight:700;}

/*탭*/
.tabWrap{max-width:1200px;margin:0 auto;}
.tabWrap.widthauto{max-width:100%;width:100%;}
.tabArea{margin:0 auto 20px;clear:both;overflow:hidden;}
.tabWrap.widthauto .tabArea{width:1200px;}
.tab-scroll{position:relative;width:100%;overflow:hidden;}
.tab-scroll .bg-scroll{display:inline-block;position:absolute;top:2px;right:0;width:32px;height:28px;z-index:2;background:url(../images/etc/bg-tab-scroll.png) no-repeat 0 0;background-size:32px;}
.tab-scroll-box{position:relative;clear:both;overflow-y:auto;}
#wrap .tab-scroll-box::-webkit-scrollbar{width:0;height:0;}
#wrap .tab-scroll-box::-webkit-scrollbar-thumb{background:none;}
#wrap.pc .tab-scroll-box::-webkit-scrollbar{width:auto;height:auto;}
#wrap.pc .tab-scroll-box::-webkit-scrollbar-thumb{background:#c1c1c1;}

/* 검정 라인 탭 */
.tab01{position:relative;margin:55px auto 0;}
.tab01 li{position:relative;float:left;height:60px;box-sizing:border-box;border:1px solid #b6b7b9;border-bottom-color:transparent;background:#fff;}
.tab01 li:before{content:"";position:absolute;left:-1px;right:-1px;bottom:-1px;border-bottom:2px solid #333;}
.tab01 li + li{border-left:0;}
.tab01 li a{display:block;position:relative;z-index:2;width:100%;height:100%;font-size:18px;text-align:center;color:#54585e;line-height:58px}
.tab01 li.on a{color:#000;font-family: 'Noto Sans Medium';}
.tab01 li.on{width:100%;height:100%;background:#fff;}
.tab01 li.on:before{content:"";position:absolute;top:-1px;left:-1px;bottom:-1px;right:-1px;border:2px solid #333;border-bottom-color:transparent;}
.tab01 li.on:after{content:"";position:absolute;top:-1px;left:-1px;bottom:-1px;right:-1px;border-left:2px solid #333;border-right:2px solid #333;}

/* 회색 위,아래 라인 탭 */
.tab02{}
.tab02:after{content:"";display:block;clear:both}
.tab02 li{position:relative;float:left;height:24px;box-sizing:border-box;border-top:1px solid #c9c5c0;border-bottom:1px solid #c9c5c0;}
.tab02 li::before{content:"";position:absolute;top:5px;right:0;display:inline-block;width:1px;height:13px;background:#c9c5c0;}
.tab02 li + li{border-left:0}
.tab02 li a{display:block;position:relative;z-index:2;width:100%;height:100%;font-size:11px;text-align:center;color:#b3b3b3;line-height:22px}
.tab02 li.on a{color:#333;}
.tab02 li:last-of-type::before{display:none;}

/* 검정색 언더라인 탭 */
.tab03{overflow:hidden;}
.tab03 li{position:relative;float:left;height:32px;box-sizing:border-box;border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;}
.tab03 li a{display:block;position:relative;z-index:2;width:auto;height:100%;padding:0 15px;font-size:13px;text-align:center;color:#b3b3b3;line-height:30px;text-align:center;}
.tab03 li.on{border-bottom:2px solid #333;}
.tab03 li.on a{color:#333;}

.tab01.col2 li,.tab02.col2 li,.tab03.col2 li,.tab04.col2 li,.tab05.col2 li,.tab06.col2 li{width:50%}
.tab01.col3 li,.tab02.col3 li,.tab03.col3 li,.tab04.col3 li,.tab05.col3 li,.tab06.col3 li{width:33.333333%}
.tab01.col4 li,.tab02.col4 li,.tab03.col4 li,.tab04.col4 li,.tab05.col4 li,.tab06.col4 li{width:25%}
.tab01.col5 li,.tab02.col5 li,.tab03.col5 li,.tab04.col5 li,.tab05.col5 li,.tab06.col5 li{width:20%}
.tab01.col6 li,.tab02.col6 li,.tab03.col6 li,.tab04.col6 li,.tab05.col6 li,.tab06.col6 li{width:16.66%}
.tab01.col7 li,.tab02.col7 li,.tab03.col7 li,.tab04.col7 li,.tab05.col7 li,.tab06.col7 li{width:14.285%}
.tab01.col8 li,.tab02.col8 li,.tab03.col8 li,.tab04.col8 li,.tab05.col8 li,.tab06.col8 li{width:12.5%}
.tab01.col9 li,.tab02.col9 li,.tab03.col9 li,.tab04.col9 li,.tab05.col9 li,.tab06.col9 li{width:11.111%}
.tab01.colFree li, .tab02.colFree li, .tab03.colFree li, .tab04.colFree li, .tab05.colFree li, .tab06.colFree li{width:auto;}
.tab01.colFree li a, .tab02.colFree li a, .tab03.colFree li a, .tab04.colFree li a, .tab05.colFree li a, .tab06.colFree li a{display:inline-block;padding:0 30px;}

.tabWrap .conArea .tabCon{display:none;}
.tabWrap .conArea .tabCon.on{display:block;}
.tabWrap.visible .conArea .tabCon{display:block;visibility:hidden;height:0;overflow:hidden;}
.tabWrap.visible .conArea .tabCon.on{display:block;visibility:visible;height:auto;overflow:inherit;}

/*paging*/
.paging{margin:20px 0 0 0;text-align:center;}
.paging .prev, .paging .next{display:inline-block;margin:0 10px;font-size:0;}
.paging .prev.disabled, .paging .next.disabled{cursor:default;}
.paging .prev .ico, .paging .next .ico{display:inline-block;width:8px;height:12px;}
.paging .prev .ico{background:url(../images/arrow/arrow-paging.png) no-repeat 0 0;background-size:16px;}
.paging .next .ico{background:url(../images/arrow/arrow-paging.png) no-repeat -8px 0;background-size:16px;}
.paging .prev.disabled .ico{background-position:0 -12px;}
.paging .next.disabled .ico{background-position:-8px -12px;}
.paging ol{display:inline-block;}
.paging ol li{display:inline-block;}
.paging a{padding:12px;font-size:16px;color:#000;}
.paging li.on a{color:#0088cf;}
.paging li.infinite{margin:0 12px;font-size:20px;}
.paging.type1{width:400px;margin:20px auto 30px;}

/*게시판 검색폼*/
.board-search{display:table;margin:0 auto;border-collapse:collapse;}
.board-search .search-box{display:table-cell;width:120px;border:1px solid #dddee0;}
.board-search .search-txt{display:table-cell;width:220px;border:1px solid #dddee0;}
.board-search .search-txt input{padding:10px;width:220px;font-size:14px;border:none;}
.board-search .search-submit{display:table-cell;padding:10px 15px;background:#343464;border:1px solid #343464;color:#fff;}

/*owl 갤러리 버튼*/
.owl-pagination{position:absolute;}
.owl-page{float:left;margin:0 5px 0 0;width:4px;height:4px;background:#fff;border-radius:4px;}
.owl-page:last-of-type{margin:0;}
.owl-page a{display:block;width:100%;height:100%;}
.owl-page.active{opacity:.5;}

/* 텍스트 펼치고 접기 */
.desc-box{position:relative;}
.desc-box .desc-txt{height:67px;overflow:hidden;}
.desc-box .desc-more{border-top:1px solid #ccc;}
.desc-box .desc-more .btn-desc-more{width:100%;padding:10px 0 5px 0;font-size:0;}
.desc-box .desc-more .btn-desc-more .txt{display:block;float:left;color:#333;font-size:12px;line-height:13px;}
.desc-box .desc-more .btn-desc-more .ico{display:block;float:right;width:16px;height:16px;background:url(../images/ico/ico-group.png) no-repeat 0 -240px;background-size:32px;}
.desc-box.on .desc-txt{height:auto;}
.desc-box.on .desc-more .btn-desc-more .ico{display:inline-block;width:16px;height:16px;background:url(../images/ico/ico-group.png) no-repeat -16px -240px;background-size:32px;}

/* 소팅 리스트 */
.select-sort li{float:left;margin:0 13px 0 0;vertical-align:top;}
.select-sort li:last-of-type{margin:0;}
.select-sort a{font-size:12px;color:#b3b3b3;vertical-align:top;}
.select-sort a span{vertical-align:top;}
.select-sort li.on a{color:#333;font-weight:bold;}
.select-sort .ico{display:none;width:16px;height:16px;margin:0 4px 0 0;vertical-align:top;}
.select-sort li.on .ico{display:inline-block;background:url(../images/ico/ico-group.png) no-repeat 0 -224px;background-size:32px;}

/* radio checkbox common */
input[type='radio'], input[type='checkbox']{opacity:0; position:absolute; top: 10px; left:3px; filter:alpha(opacity=0); margin:0; z-index:10;}
input[type='checkbox']+label, input[type='radio']+label{position:relative; display:inline-block; margin:0; padding:0; cursor:pointer; z-index:0; color:#666; letter-spacing:-1px;}

/*라디오버튼*/
/* radio+label */
input[type='radio']{width:20px;height:20px;cursor:pointer;}
input[type='radio']+label{min-height:20px;margin:5px 0 0;padding:5px 0 8px 23px;font-size:13px;line-height:20px;color:#565a5d;background-image:url(../images/form/ico-radio-default.png);background-repeat:no-repeat;background-position:0 4px;background-size:20px;}
/* radio checked+label */
input[type='radio']:checked+label{background-image:url(../images/form/ico-radio-chk.png);}
/* radio disabled+label */
input[type='radio']:disabled+label{color:#b7b7b7;background-image:url(../images/form/ico-radio-default-dis.png);}
/* radio disabled:checked+label */
input[type='radio']:disabled:checked+label{color:#b7b7b7;background-image:url(../images/form/ico-radio-chk-dis.png);}

/*체크박스*/
/* checkbox+label */
input[type='checkbox'] {width:20px;height:20px;}
input[type='checkbox']+label{min-height:20px;margin:5px 0 0;padding:5px 0 8px 23px;font-size:13px;line-height:20px;color:#565a5d;background-image:url(../images/form/ico-checkbox-default.png);background-repeat:no-repeat;background-position:0 4px;background-size:20px;}
/* checkbox checked+label */
input[type='checkbox']:checked+label{background-image:url(../images/form/ico-checkbox-chk.png);}
/* checkbox disabled+label */
input[type='checkbox']:disabled+label{background-image:url(../images/form/ico-checkbox-default-dis.png);}
/* checkbox disabled:checked+label */
input[type='checkbox']:disabled:checked+label{background-image:url(../images/form/ico-checkbox-chk-dis.png);}

/* type02 checkbox+label */
input[type='checkbox'].type02 {width:18px;height:18px;}
input[type='checkbox'].type02+label{min-height:18px;margin:0;padding:0 0 0 29px;font-size:14px;line-height:18px;color:#000;background-image:url(../images/form/ico-checkbox2-default.png);background-repeat:no-repeat;background-position:0 0;background-size:18px;}
input[type='checkbox'].type02+label span{vertical-align:baseline}
/* type02 checkbox checked+label */
input[type='checkbox'].type02:checked+label{	background-image:url(../images/form/ico-checkbox2-chk.png);}
/* type02 checkbox disabled+label */
input[type='checkbox'].type02:disabled+label{	background-image:url(../images/form/ico-checkbox2-default-dis.png);}
/* type02 checkbox disabled:checked+label */
input[type='checkbox'].type02:disabled:checked+label{background-image:url(../images/form/ico-checkbox2-chk-dis.png);}

/* type03 checkbox+label */
input[type='checkbox'].type03{width:20px;height:20px;cursor:pointer;}
input[type='checkbox'].type03+label{min-height:20px;margin:0;padding:0 0 0 23px;font-size:14px;letter-spacing:-.04em;line-height:20px;color:#000;background-image:url(../images/form/ico-checkbox3-default.png);background-repeat:no-repeat;background-position:0 4px;background-size:auto;}
input[type='checkbox'].type03+label span{vertical-align:baseline}
/* type03 checkbox checked+label */
input[type='checkbox'].type03:checked+label{	background-image:url(../images/form/ico-checkbox3-chk.png);font-family:"Noto Sans Bold"}
/* type03 checkbox disabled+label */
input[type='checkbox'].type03:disabled+label{	background-image:url(../images/form/ico-checkbox3-default-dis.png);}
/* type03 checkbox disabled:checked+label */
input[type='checkbox'].type03:disabled:checked+label{background-image:url(../images/form/ico-checkbox3-chk-dis.png);}

/* customScroll */
.customScroll .mCSB_inside>.mCSB_container{margin-right:25px;}
.customScroll .mCSB_scrollTools{width:25px;}
.customScroll .mCSB_scrollTools .mCSB_draggerContainer{margin:11px 0;}
.customScroll .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#dcdee0 !important;}
.customScroll .mCSB_scrollTools .mCSB_draggerRail{display:none;}
