<div class="popup">
	<div class="popup-info">
		<div class="popup-header">
			<h5 class="popup-title">{{title}}</h5>
		</div>
		<div class="popup-contents">
			{{{contents}}}
		</div>
		<div class="btn-box">
			<a class="btn-submit" href="#submit">확인</a>
			<a class="btn-cancel" href="#cancel">취소</a>
		</div>
	</div>
	<div class="popup-blind"></div>
</div>
